html, body, #app{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
}


// #root::Before Wrapper
#main {
    height: 100%;
    width: 100%;
    padding: 0;
    // Header
    // Banner copyrights and introduction screen
    #quotoHeader {
        background-image: url('../Images/header.png');
        background-position: 25% 70%;
        background-size: cover;
        padding: 10px;
        opacity: .9;
        height: 10%;
        display: flex;
        justify-content: space-between;
        #timer {
            text-align: right;
            margin: auto;
            flex: 1;
            font-size: 16px;
            color:rgb(255, 255, 255);
        }
        #quotoJet {
            flex: 1;
        }
    }
    // Pagination
    // Main content that displays Overview, Estimates, and Settings
    #attachedMenu {
        position: relative;
        a.item {
            font-size: 16px;
            color: inherit;
            transition: color ease-in-out .25s ;
        }
        a.item:hover {
            color: rgba(107, 107, 107, 0.952);
        }

        // Specified Menu Items

        // Main Segment 
        // Controls all of the applications that can be loaded
        #mainSegment{
            align-items: center;
            min-height: 1000px;
            // Estimates App
            // Displays all current Estimates
            // #estimate {
                
            // }
            // Overview App
            // Displays the currently selected projects estimate
            #quoteOverview {
                align-self: baseline !important;
                width: 100%;
                #overviewContainer {
                    #insertForm {
                        text-align: center;
                    }
                }
                
            }
            // Settings App
            // Global settings menu
            #settings {
                margin: 0 auto; 
                text-align: center;
                padding: 40px;
                border: 1px solid rgba(163, 163, 163, 0.397);
                box-shadow: 0px 0px 5px rgba(0,0,0,.2);
                * {
                    margin: 0 auto;
                    padding: 10px;
                }
            }
        }
    }
}


input {
    box-sizing: border-box;
}

