html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute; }

#main {
  height: 100%;
  width: 100%;
  padding: 0; }
  #main #quotoHeader {
    background-image: url("../Images/header.png");
    background-position: 25% 70%;
    background-size: cover;
    padding: 10px;
    opacity: .9;
    height: 10%;
    display: flex;
    justify-content: space-between; }
    #main #quotoHeader #timer {
      text-align: right;
      margin: auto;
      flex: 1;
      font-size: 16px;
      color: white; }
    #main #quotoHeader #quotoJet {
      flex: 1; }
  #main #attachedMenu {
    position: relative; }
    #main #attachedMenu a.item {
      font-size: 16px;
      color: inherit;
      transition: color ease-in-out .25s; }
    #main #attachedMenu #mainMenu a.item:hover {
      color: rgba(107, 107, 107, 0.952); }
    #main #attachedMenu #mainSegment {
      align-items: center;
      min-height: 1000px; }
      #main #attachedMenu #mainSegment #quoteOverview {
        align-self: baseline !important;
        width: 100%; }
        #main #attachedMenu #mainSegment #quoteOverview .headBorder:after {
          content: "";
          /* This is necessary for the pseudo element to work. */
          display: block;
          /* This will put the pseudo element on its own line. */
          width: 50%;
          /* Change this to whatever width you want to have before hover. */
          margin: 0 auto;
          text-align: center;
          padding-top: 1px;
          /* This creates some space between the element and the border. */
          border-bottom: 1px solid red;
          /* This creates the border. Replace black with whatever color you want. */
          transition: .25s;
          /* This establishes the amount of time in seconds the animation should take from start to finish */ }
        #main #attachedMenu #mainSegment #quoteOverview .headBorder:hover:after {
          width: 100%;
          /* This will be the new width of your border when on hover */ }
        #main #attachedMenu #mainSegment #quoteOverview #overviewContainer #insertForm {
          text-align: center; }
      #main #attachedMenu #mainSegment #settings {
        margin: 0 auto;
        text-align: center;
        padding: 40px;
        border: 1px solid rgba(163, 163, 163, 0.397);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }
        #main #attachedMenu #mainSegment #settings * {
          margin: 0 auto;
          padding: 10px; }

input {
  box-sizing: border-box; }
