html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute; }

#main {
  height: 100%;
  width: 100%;
  padding: 0; }
  #main #quotoHeader {
    background-image: url("../Images/header.png");
    background-position: 25% 70%;
    background-size: cover;
    padding: 10px;
    opacity: .9;
    height: 10%;
    display: flex;
    justify-content: space-between; }
    #main #quotoHeader #timer {
      text-align: right;
      margin: auto;
      flex: 1;
      font-size: 16px;
      color: white; }
    #main #quotoHeader #quotoJet {
      flex: 1; }
  #main #attachedMenu {
    position: relative; }
    #main #attachedMenu a.item {
      font-size: 16px;
      color: inherit;
      transition: color ease-in-out .25s; }
    #main #attachedMenu a.item:hover {
      color: rgba(107, 107, 107, 0.952); }
    #main #attachedMenu #mainSegment {
      align-items: center;
      min-height: 1000px; }
      #main #attachedMenu #mainSegment #quoteOverview {
        align-self: baseline !important;
        width: 100%; }
        #main #attachedMenu #mainSegment #quoteOverview #overviewContainer #insertForm {
          text-align: center; }
      #main #attachedMenu #mainSegment #settings {
        margin: 0 auto;
        text-align: center;
        padding: 40px;
        border: 1px solid rgba(163, 163, 163, 0.397);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }
        #main #attachedMenu #mainSegment #settings * {
          margin: 0 auto;
          padding: 10px; }

input {
  box-sizing: border-box; }
